
@model List<Model.FrameWork.Menu>
<div class="header__top__right__social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-pinterest-p"></i></a>
</div>
<div class="header__top__right__language">
    <img src="/Assest/Client/img/language.png" alt="">
    <div>English</div>
    <span class="arrow_carrot-down"></span>
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="@item.Link" target="@item.Target">@item.Text</a></li>
        }
    </ul>
</div>
<div class="header__top__right__auth">
    <a href="#"><i class="fa fa-user"></i> Login</a>
</div>